# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VI swap files
*.swp

# Don't follow the main executable
src/egel-bot
# Or a possible generated archive
# Don't follow dynamic libraries
*.ego

# don't follow cmake build or debug
build/
debug/
